.menunav{
  background: #012d42;
  color: white;
  width: 100%;
  position: fixed;
  
}
.tabla{
  width: 100%;
  background: #333333


}
.fondo{
  background: rgba(0,0,0,.5);
  padding-top: 20px;

}

.user{
  height: 65px;
  width: 65px;
  text-align: center;
  padding-top: 1px;
  }
  .user:hover{
  height: 65px;
  width: 65px;
  text-align: center;
  padding-top: 1px;
  border: 1px solid #ffffff;
  }
  .fecha{

      width: 85%;
  }
.btn-nav{
  
  color: white;
  vertical-align: middle;
  padding-top: 1px;
}
.btn-nav:hover {
  color: #fff;
  text-align: center;
  padding-top: 1px;
  border: 1px solid #ffffff;
}
body{
  /*background: #313131;*/
  background: #012d41;
}
.btn-modals{
  background: #012d41;
  color: white; 
}
.imagenes{
  height: 200px;
  width: 160px;
  

  display:block!important;
-webkit-transition:-webkit-transform .1s ease-out;
-moz-transition:-moz-transform .1s ease-out;
-o-transition:-o-transform .1s ease-out;
-ms-transition:-ms-transform .1s ease-out;
transition:transform .1s ease-out;
}
.imagenes:hover{
  box-shadow: 0px 5px 20px black;
  padding-top: 0px;
-moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);

}
.cuadro{
  height: 220px;
}
.letras{
 color: white;
}
.botoninv{
  width: 100%;
  background: #ff404e;
  color: white;
}
.botonempl{
  width: 100%;
  background: green;
  color: white;
}
.boton:hover{
  width: 100%;
  background: #540032;
  color: green;
}
.usuario1{
  background: #74ceb7;
  width: 100%;
}
.insertar:hover{
  width: 100%;
  background: green;
  color: white;
}
.modificar:hover{
  width: 100%;
  background: yellow;
  color: black;
}
.limpiar:hover{
  width: 100%;
  background: blue;
  color: white;
}
.eliminar:hover{
  width: 100%;
  background: red;
  color: white;
}
.usuario1modal{
  background: #74ceb7;
}
.contCata{
  background: #012d41;

}
.tusuarios{
  background: #74ceb7;
  
}
.fecha_hoy{
  color: white;
}
.cambiar_fecha{
  color: white;
}
.tinventarios{
 background: #bdf25d;
  color: black;
}

.seleccionar:hover{

box-shadow: 0px 0px 10px green;
padding-top: 0px;



}
.seleccionar:active{
color: green;

}

