.menunav{
  background: #012d42;
  color: white;
  width: 100%;
  position: fixed;
  
}
.tabla{
  width: 100%;
  background: #333333


}
.gasolina{
  position: absolute;
 
   top: 28px;
   left: 6%;
   margin: 10px;
}
.gas{
  position: absolute;
 
   top: 28px;
   left: 15%;
   margin: 10px;
}
.km{
  position: absolute;
 
   top: 28px;
   left: 80%;
   margin: 10px;
}
.diesel{
  position: absolute;
 
   top: 40px;
   left: 6%;
   margin: 10px;
}

.nombreVendedor {
  position: absolute;
  width: 100%;
   top: 15px;
   left: 5%;
   margin: 10px;
 }
 .fechaDespacho{
  position: absolute;
  width: 100%;
   top: 15px;
   left: 5%;
   
   margin: 10px;
 }
 .nombreCapturista {
  position: absolute;
  width: 100px;
   top: 915px;
   left: 5%;
   margin: 10px;
 }
 .nombreDespachador{
 position: absolute;
  width: 100%;
   top: 925px;
   left: 5%;
   margin: 10px;
 }
 .negro{
  color: black;
 }
.tablaImprimir {
  position: absolute;
  width: 100%;
   top: 25px;
   left: 5%;
   margin: 10px;
 }
 .tablaImprimirVD {
  position: absolute;
  width: 110%;
   top: 220px;
   left: 5%;
   margin: 10px;
   color: black;
 }
 .tablaHorizontal{
  writing-mode: tb-rl;
height: 80%;
margin: 10% 0%;
 }

 .tablaImprimirVDCT {
  
  position: absolute;
  
   top: 20px;
   left: -190px;
   width: 750px;
   margin: 10px;
   color: black;
 }

 .tablaImprimirVDC {

  position: absolute;
  width: 110%;
   top: 175px;
   left: 5%;
   margin: 10px;
   color: black;

 }
  .tablaImprimirVD2 {
  position: absolute;
  
   top: 25px;
   left: 5%;
   margin: 10px;
   color: black;
 }

 .tablaImprimir2 {
  position: absolute;

   top: 740px;
   left: 5%;
   margin: 10px;
 }
  .tablaImprimir3 {
  position: absolute;

   top: 750px;

   left: 483px;
 }
  .tablaImprimir4 {
  position: absolute;

   top: 775px;

   left: 483px;
 }
  .tablaImprimir5 {
  position: absolute;

   top: 825px;

   left: 483px;

 }
 .fila{
width: 550px;
 }
 .controlC{
  position: absolute;
   text-align: center;
   top: 0px;
   left: 30%;

   
 }
 .controlCP{
  position: absolute;
   text-align: center;
   top: 0px;
   left: 40%;
 }
.pagareD {
  position: absolute;
  width: 100%;
   top: 840px;
   left: 5%;
   margin: 10px;
}
  #floating-panel {
        position: absolute;
        top: 30px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
}
#map {
        width: 100%;
        height: 500px;
        background-color: grey;
      }
      .map {
        width: 100%;
        height: 500px;
        background-color: grey;
      }
.imprimir1{
display: none; 
}
.remarca {
  font-family: "Times New Roman";
  font-size: 20px;
  font-style: italic;
  line-height: normal;
  font-weight: bold;
  font-variant: normal;
  text-transform: uppercase;
  color: #000000;
}
.oficio {
  font-family: "Times New Roman";
  font-size: 15px;
  font-style: italic;
  line-height: normal;
  font-weight: bold;
  font-variant: normal;
  text-transform: uppercase;
  color: #000000;
}

@media print {
.impre {display:none}
th {color: black;}
}
.rec{
  width: 70px;
}

.fondo{
  background: rgba(0,0,0,.5);
  padding-top: 20px;
}
.totala{
  width: 100%;
}

.user{
  height: 65px;
  width: 65px;
  text-align: center;
  padding-top: 1px;
  }
  .user:hover{
  height: 65px;
  width: 65px;
  text-align: center;
  padding-top: 1px;
  border: 1px solid #ffffff;
  }
  .fecha{

      width: 160px;
  }
.btn-nav{
  
  color: white;
  vertical-align: middle;
  padding-top: 1px;
}
.btn-nav:hover {
  color: #fff;
  text-align: center;
  padding-top: 1px;
  border: 1px solid #ffffff;
}
body{
  /*background: #313131;*/
  background: #012d41;
}
.btn-modals{
  background: #012d41;
  color: white; 
}

.ImagenDurango{
   position: absolute;
   top: 200px;
height: 500px;
left: 15%;
opacity:.1;
}
.ImagenDurango2{
   position: absolute;
   top: 100px;
height: 500px;
left: 10%;
opacity:.1;
}
.imagenes{
  height: 200px;
  width: 160px;
  

  display:block!important;
-webkit-transition:-webkit-transform .1s ease-out;
-moz-transition:-moz-transform .1s ease-out;
-o-transition:-o-transform .1s ease-out;
-ms-transition:-ms-transform .1s ease-out;
transition:transform .1s ease-out;
}
.imagenes:hover{
  box-shadow: 0px 5px 20px black;
  padding-top: 0px;
-moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);

}
.cuadro{
  height: 220px;
}
.letras{
 color: white;
}
.botoninv{
  width: 100%;
  background: #ff404e;
  color: white;
}
.botonempl{
  width: 100%;
  background: green;
  color: white;
}
.boton:hover{
  width: 100%;
  background: #540032;
  color: green;
}
.usuario1{
  background: #74ceb7;
  width: 100%;
}
.btn-ventas{
  background: #1ba5b8;
  width: 100%;
}
.ventascss{
  background: #031727;
  width: 100%;
}

.insertar:hover{
  width: 100%;
  background: green;
  color: white;
}
.modificar:hover{
  width: 100%;
  background: yellow;
  color: black;
}
.limpiar:hover{
  width: 100%;
  background: blue;
  color: white;
}
.eliminar:hover{
  width: 100%;
  background: red;
  color: white;
}
.usuario1modal{
  background: #74ceb7;
}

.tusuarios{
  background: #74ceb7;
  
}
.fecha_hoy{
  color: white;
}
.cambiar_fecha{
  color: white;
}
.tinventarios{
 background: #bdf25d;
  color: black;
}

.seleccionar:hover{

background: gray;



}


ul {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    width: 200px;
   
}

li a {
    display: block;
    color:white;
    padding: 8px 16px;
    text-decoration: none;
}

.v:hover{
background-color: white;
  color:#f0433a;

}
.d:hover{
background-color: #820333;
  color:white;
}
.d:active:before{
background-color: red;
  color:white;
}
.r:hover{
background-color: #de5b49;
  color:white;
  
}
.v{
background-color: #f0433a;
  color:white;

}
.d{
  color:white;
}
.r{

  color:white;
  
}
/* Change the link color on hover
li a:hover {
    background-color: #555;
    color: white;
} */

#loader{

  background-color: rgba(0,0,0,0.95);
 
 width: 100%;

 height: 100%;

   position: fixed;
 
z-index: 3;
}
.container-fluid{
  z-index: 1;
}
.navbar{
   z-index: 2;
}

.loader{

 top:200px;
  color: #ffffff;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
