.menunav{
  background: #012d41;
  color: white;
  /*box-shadow: 3px 3px 8px #fff;
  padding-top: 1px;*/
}
.user{
  height: 65px;
  width: 65px;
  text-align: center;
  padding-top: 1px;
  }
  .user:hover{
  height: 65px;
  width: 65px;
  text-align: center;
  padding-top: 1px;
  border: 1px solid #ffffff;
  }
.btn-nav{
  background: #012d41;
  color: white;
  vertical-align: middle;
  padding-top: 1px;
}
.btn-nav:hover {
  color: #fff;
  text-align: center;
  padding-top: 1px;
  border: 1px solid #ffffff;
}
body{
  /*background: #313131;*/
  background: #012d41;
}
.imagenes{
  height: 200px;
  width: 160px;

  display:block!important;
-webkit-transition:-webkit-transform .1s ease-out;
-moz-transition:-moz-transform .1s ease-out;
-o-transition:-o-transform .1s ease-out;
-ms-transition:-ms-transform .1s ease-out;
transition:transform .1s ease-out;
}
.imagenes:hover{
-moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1)
}
.cuadro{
  height: 220px;
}
.letras{
 color: white;
}
.boton{
  width: 100%;
  background: #540032;
  color: white;
}
.boton:hover{
  width: 100%;
  background: #540032;
  color: green;
}

