body{
	background-image: url("/../images/fondo4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
     
}
footer{
background: rgba(0,0,0,.8);
    width:  100%;
     
}
.logo{
  width:   100%;
	text-align: center;
}
.btnlogin{
	background: #FFB600;
	color: white;
	
}
.btnlogin:hover{
	background: white;
	color: black;
	
}
.login{
	width: 100%;
	text-align: center;
}
.footer{
	
	top: 90%;
	
	color: white;

}
.fondo1{
	
	width: 100%;
	
}
.direc{
	width: 100%;
}
.imagenesL{
	width: 100%;
}

 .inp {
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        border: 1px solid #000000;
        padding: 0 4px 0 4px;
        height: 35px;
     }
.cont{
 box-shadow: 0px 5px 10px black;


background: rgba(0,0,0,.5);
}

input[type="text"],input[type="password"]{

        width: 100%;
		text-align: center;
	
}
.cust{
	
text-align:  center;
}
.transp{
	color: white;
	background: rgba(0,0,0,.8);
}
.btnModal{
	background: #00007e;
	color: white;
}