<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Cremeria Las Torres</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/stylesheets/login.css">


</head>
<body>

   <div class="container-fluid fondo">
   <div class="row">
     <div class="hidden-xs col-sm-2 col-md-2">
          <img src="/images/logo.png" class="img-responsive">
     </div>
   </div>
   <div class="row">
   <br><br>
       <div class="col-xs-2 col-sm-3 col-md-4"></div>
       <div class="col-xs-8 col-sm-5 col-md-4 text-center">
       <div class="cont"><br>
         <div class="form-group">
         <br>
         <div class="form-group ">
           <div class="form-inline col-xs-12">
                <i class="glyphicon glyphicon-user cust hidden-xs"></i><input  type="text" class="form-control name"  placeholder="Nombre"/>
           </div>
         </div>
           <br><br>
           <div class="form-group">
            <div class="form-inline col-xs-12">
             <i class="glyphicon glyphicon-ok-sign cust hidden-xs"></i><input  type="password" class="form-control pass"  placeholder="Contraseña"/>
           </div>
           </div>
           <br><br>
           <a type="button" class="btn btnlogin">Iniciar sesión</a><br>
         </div>
         <br>
       </div>
       </div>
       <div class="col-md-5"></div>
   </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br>
<footer>
   <div class="col-md-12 footer">
        <div class="Footer">            
            <p class="text-center">2017. Todos los derechos reservados.<br/>Diseño y desarrollo Cremeria <b>Las Torres</b></p>          
        </div>      
    </div>
</footer>
</body>
</html>
