
<HTML>
<HEAD>
  
  <meta charset="UTF-8">
  <title>Cremeria Las Torres</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">

  
   
  
 
 

</HEAD>
<BODY >

   <div class="container-fluid fondo">
   <br><div class="row">

   <br>
   <div class="col-sm-1 col-md-1"></div> <div class="hidden-xs col-sm-2 col-md-2">
          <img src="/images/logo.png" class="logo img-responsive">
     </div>
     <div class="col-sm-10 col-md-10"></div> 
   </div>
   <div class="row">
   <br><br>
       <div class="col-xs-2 col-sm-3 col-md-4 col-lg-5"></div>
       <div class="col-xs-8 col-sm-5 col-md-4 col-md-3">
     
       <div class="cont"><br>

         <div class="form-group text-center">

         <br>




 <input  type="text" class="form-control name "  onchange="document.getElementById('password1').focus();" placeholder="Nombre"/>
         <br>
             <i class="glyphicon glyphicon-ok-sign cust hidden-xs"></i><input  type="password" class="form-control pass "  id="password1" onchange=" ingresar()" placeholder="Contraseña"/>
          <br>
           
           <button type="button" class="btn btnlogin login" id="ingresar1" onclick="ingresar()">Iniciar sesión</button>

           <br>


         </div>
        


         <br>
       </div>


      
       </div>
       <div class = "col-md-5"> </div>
   </div>
</div>
  <div class= "modal fade" tabindex ="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
             
              <h4 class="modal-title">ERROR</h4>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Datos incorrectos
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btnlogin" onclick="closeModal()">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
<br><br><br><br><br><br><br><br><br>
<footer>
   <div class="col-md-12 footer">
        <div class="Footer">            
            <p class="text-center">2017. Todos los derechos reservados.<br/>Diseño y desarrollo Cremeria <b>Las Torres</b></p>          
        </div>      
    </div>
</footer>
</BODY>
</HTML>
<script type="text/javascript">

function ingresar(){

  var pass = $(".pass").val();
  //alert(pass);
  var name = $('.name').val();
  $.ajax({    
    url : '/log_in',    
    data : { usuario: name, contrasenia: pass},    
    type : 'GET',    
    success : function(json) {  
        
      //alert(json);
      //document.documentElement.innerHTML = json;
      console.log(json);
    },    

    error : function(xhr, status) {  
         
      $('#modal').modal('show');
    },    
    complete : function(xhr, status) {        
    }});
}
function closeModal(){
  $('#modal').modal('hide');
}
</script>