

<HTML>
<HEAD>
  
  <meta charset="UTF-8">
  <title>Cremeria Las Torres</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">

  
   
  
 
 

</HEAD>
<BODY >

   <div class="container-fluid fondo">
   <br>
   <div class="row">

   <br>
   <div class="col-sm-4 col-md-4"></div> 
   <div class="hidden-xs col-sm-4 col-md-4">
   <div class="row">
   <div class="col-md-2"></div>
   <div class="col-md-8"><img src="/images/logoD2.png" class="logo img-responsive"></div>
   <div class="col-md-2"></div>
          </div>
     

<div class="cont row">

<div class="col-md-1"></div>
<div class="col-md-10">
  
<br>

         <input  type="text" class="form-control inp name transp"  onchange="document.getElementById('password1').focus();" placeholder="Nombre"/>
         <br>
        <input  type="password" class="form-control inp pass transp"  id="password1" onchange=" ingresar()" placeholder="Contraseña"/>
          <br>
           
        <button type="button" class="btn btnlogin login inp" id="ingresar1" onclick="ingresar()">Iniciar sesión</button>

           <br>

<br>
    

</div>
<div class="col-md-1"></div>



       </div>



     </div>
     <div class="col-sm-4 col-md-4"></div> 
   </div>

 
</div>
  <div class= "modal fade" tabindex ="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
             
              <h4 class="modal-title">ERROR</h4>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Datos incorrectos
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btnModal" onclick="closeModal()">Cerrar</button>
            </div>
          </div>
        </div>
      </div>

<footer>
   <div class="col-md-12 footer">
        <div class="Footer">            
            <p class="text-center">2017. Todos los derechos reservados.<br/>Diseño y desarrollo Cremeria <b>Las Torres</b></p>          
        </div>      
    </div>
</footer>
</BODY>
</HTML>
<script type="text/javascript">

function ingresar(){

  var pass = $(".pass").val();
  //alert(pass);
  var name = $('.name').val();
  $.ajax({    
    url : '/log_in',    
    data : { usuario: name, contrasenia: pass},    
    type : 'GET',    
    success : function(json) {  
        
      //alert(json);
      //document.documentElement.innerHTML = json;
      console.log(json);
    },    

    error : function(xhr, status) {  
         
      $('#modal').modal('show');
    },    
    complete : function(xhr, status) {        
    }});
}
function closeModal(){
  $('#modal').modal('hide');
}
</script>