
      <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
      <link rel="stylesheet" type="text/css" href="/stylesheets/loggin.css">
      <link rel="stylesheet" type="text/css" href="/stylesheets/aplication.css">
      <script type="text/javascript" src="/javascripts/menu.js"></script>

<nav class="navbar fixed-top navbar-dark bg-dark menunav">
        <div class="col-xs-2 col-md-2 ">

        <a href="" class="btn btn-nav" onclick="click_regresar()"><h3>Salir</h3></a>
        </div>
        <div class="col-xs-7 col-md-7 text-center tituloPantalla">
           <h3> MENÚ </h3>
        </div>
        <div class="col-xs-1 col-md-1"></div>
        <div class="col-xs-1 col-md-1 ">
          <a ><img class="user text-center" src="/images/user2.png" alt=""></a>   
        </div>
</nav>
  <br><br><br><br><br>
  
		<div class="container" >
      <div class="row" id="contenido">
        
      </div>  
    </div>


    <div class= "modal fade" tabindex ="-1" role="dialog" id="modalEfectivo">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
             <h4 class="modal-title">ENTRADA DE EFECTIVO</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
              </button>
             
            </div>
            <div class="modal-body textModal">
              <div class="row">
                <div class="col-md-4"> Ruta </div>
 
                <div class="col-md-4">  </div>
              
              
                <div class="col-md-4">  </div>
                <div class="col-md-4">  
                
                <input type="text" class="form-control clear medidaInv"  placeholder="Ruta">

                </div>
                <div class="col-md-4">
                  <input type="text" class="form-control clear medidaInv" disabled placeholder="Vendedor">
                </div>

                <div class="col-md-4">
                  <input type="text" class="form-control clear medidaInv" placeholder="$">
                </div>

                
              </div>


            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" onclick="closeModalInventario()">Cancelar</button>
               <button type="button" class="btn btn-success agregarInventario" onclick="agregarCantidad()">Agregar</button>
            </div>
          </div>
        </div>
      </div>
<div class= "modal fade" tabindex ="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title">MENSAJE</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body textModal">
              Datos incorrectos
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-modals" onclick="closeModal()">Cerrar</button>
            </div>
          </div>
        </div>
      </div>

 <div class= "modal fade" tabindex ="-1" role="dialog" id="modalInventario">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header"> 
            <h4 class="modal-title">ENTRADA DE INVENTARIO</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
              </button>
             
            </div>
            <div class="modal-body textModal">
              <div class="row">
                <div class="col-md-4"> ID </div>
                <div class="col-md-6"> 
                 <input type="number" class="form-control clear tipo" onchange="updateListaModal()" placeholder="ID">     
                 </div><br><br>
              
                <div class="col-md-4"> Descripcion </div>
                <div class="col-md-6"> 
                   <select class="form-control  clear descripcionInventario" onchange="updateListaModalMedida()">

                  </select>      
                 </div><br><br>
              
                <div class="col-md-4"> Cantidad </div>
                <div class="col-md-3">  
          <input type="number" class="form-control clear cantidad" placeholder="Cantidad">

                </div>
                <div class="col-md-3">
                  <input type="text" class="form-control clear medidaInv" disabled placeholder="Medida">
                </div>

                
              </div>


            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" onclick="closeModalInventario()">Cancelar</button>
               <button type="button" class="btn btn-success agregarInventario" onclick="agregarCantidad()">Agregar</button>
            </div>
          </div>
        </div>
      </div>

<script type="text/javascript">
  
  window.usuario = JSON.parse('<%= @usuario.as_json %>'.replace(/&quot;/g, '\"').replace(/=&gt;/g, ':').replace(/nil/g, '""'));

</script>
