
      <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
      <link rel="stylesheet" type="text/css" href="/stylesheets/loggin.css">
      <link rel="stylesheet" type="text/css" href="/stylesheets/aplication.css">
      <script type="text/javascript" src="/javascripts/menu.js"></script>
<div id="loader" style="display:block;">
<div class="loader" ></div>

</div>
<div id="fondoBlanco" style="display:none;"></div>
<nav class="navbar fixed-top navbar-dark bg-dark menunav">
        <div class=" col-md-2 ">
        <a href="" class="btn btn-nav impre" onclick="click_regresar()"><h3>Salir</h3></a>
        </div>
        <div class="col-xs-8 col-md-8 text-center tituloPantalla impre">
           <h3> MENÚ </h3>
        </div>
        <div class="col-xs-2 col-md-2 ">

          
            
<div class="dropdown">
<img class="user text-center impre dropleft dropdown-toggle" src="/images/user2.png" data-toggle="dropdown">
  
  <div class="dropdown-menu">
    <a class="dropdown-item" href="">FONDO  <form> <input type="color" name="favcolor" value="#ffff"></form></a>
    <a class="dropdown-item" href="">CONFIGURACION</a>
    <a class="dropdown-item" href="">PERFIL</a>
  </div>
</div>



          
        </div>
</nav>
  <br class="impre"><br  class="impre"><br  class="impre"><br  class="impre"><br  class="impre">

		<div class="container-fluid row ">

     <div class="col-md-2 barraIzq " style="height: 100%"></div>
      <div class=" col-md-10 " id="contenido">
      </div>


    </div>
       <div class= "modal fade" tabindex ="-1" role="dialog" id="modalPin">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
             <h2 class="modal-title">PIN</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body textModal">
              <div class="row ">
                <div class="col-md-12 despachador">  
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">  
                
   <input type="password" id="PINV" class="form-control clear pin" autocomplete="off" onchange="agregarpin()" placeholder="PIN">
    
                
                </div>
              </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-dark" onclick="closeModalPin(); click_ventas(); ">Cancelar</button>
               <button type="button" class="btn btn btn-modals " id="agregarp" onclick="agregarpin()">Ingresar</button>
            </div>
          </div>
        </div>
      </div>
<div class= "modal fade" tabindex ="-1" role="dialog" id="modalProducto">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
             <h2 class="modal-title">LISTA DE PRODUCTOS</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body textModal productom">
            
                           
            </div>
            <div class="modal-footer">
            
               <button type="button" class="btn btn btn-modals" id="agregarp" onclick="modalCloseP()">CERRAR</button>
            </div>
          </div>
        </div>
      </div>
      <div class= "modal fade" tabindex ="-1" role="dialog" id="modalDesp">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
             <h2 class="modal-title">DESPACHADOR & VEHICULO</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
              </button>
             
            </div>
            <div class="modal-body textModal ">
             
              <div class="row col-md-12 ">
                <label class="despachadorl" for="" ><strong>DESPACHADOR:</strong></label>
                <div class="col-md-12 despachador">  
                
               
                

                </div>
                 <label class="vehiculol" for=""><strong>VEHICULO ASIGNADO:</strong></label>
                <div class="col-md-12 vehiculomodal">  
                
                

                </div>
              

                
              </div>
              <br>
      


            </div>
            <div class="modal-footer">
            <div>
               <button type="button" class="btn btn-dark" onclick="closeModalDesp(); click_Despacho(); ">CANCELAR</button>
            </div>
              <div class="salida2">
                <button type="button" class="btn btn-modals " id="agregarp" onclick="click_Salida2()">GUARDAR</button>
              </div>
               
            </div>
          </div>
        </div>
      </div>


<div class= "modal fade" tabindex ="-1" role="dialog" id="modalNomina">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
             <h2 class="modal-title">NOMINA</h2><label id="nombreNomina" class=" text-center nombreNomina"  for="" ></label>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
              </button>
             
            </div>
            <div class="modal-body textModal ">
             
              <div class="row col-md-12 ">
                <div id="" class=" col-md-12"> 
                </div>
                <div class="text-center">
<label class=" text-center" for="" ><strong>RET/ML</strong></label>
                 </div>
                
                <input type="number" id="ret/ml" class="form-control clear ret text-center" placeholder="0.00">
                <label class=" text-center" for="" ><strong>FONDO DE AHORRO</strong></label>
                <input type="number" id="ret/ml" class="form-control clear fA text-center" placeholder="0.00">
                <label class=" text-center" for="" ><strong>INFONAVIT</strong></label>
                <input type="number" id="ret/ml" class="form-control clear infonavit text-center" placeholder="0.00">
                <input type="number" style="display: none;" id="" class="form-control clear idNominaF text-center" placeholder="0.00">
                 
              

                
              </div>
              <br>
      


            </div>
            <div class="modal-footer">
            <div>
               <button type="button" class="btn btn-dark" onclick="closeModalNom();">CANCELAR</button>
            </div>
              <div class="salida2">
                <button type="button" class="btn btn-modals " id="agregarp" onclick="upNomina1()">GUARDAR</button>
              </div>
               
            </div>
          </div>
        </div>
      </div>



<div class= "modal fade" tabindex ="-1" role="dialog" id="modalDesp">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
             <h2 class="modal-title">DESPACHADOR & VEHICULO</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
              </button>
             
            </div>
            <div class="modal-body textModal ">
             
              <div class="row col-md-12 ">
                <label class="despachadorl" for="" ><strong>DESPACHADOR:</strong></label>
                <div class="col-md-12 despachador">  
                
               
                

                </div>
                 <label class="vehiculol" for=""><strong>VEHICULO ASIGNADO:</strong></label>
                <div class="col-md-12 vehiculomodal">  
                
                

                </div>
              

                
              </div>
              <br>
      


            </div>
            <div class="modal-footer">
            <div>
               <button type="button" class="btn btn-dark" onclick="closeModalDesp(); click_Despacho(); ">CANCELAR</button>
            </div>
              <div class="salida2">
                <button type="button" class="btn btn-modals " id="agregarp" onclick="click_Salida2()">GUARDAR</button>
              </div>
               
            </div>
          </div>
        </div>
      </div>

  <div class= "modal fade" tabindex ="-1" role="dialog" id="modalMerma">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
             <h2 class="modal-title">MERMA</h2> <h3 class=".totalMerma"></h3>
             <div class=""></div>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
              </button>
             
            </div>
            <div class="modal-body textModal">
             
              <div class="row col-md-12 ">
                 <div class="row">
        <div class="col-md-3 impre form-group">
          <label class="" >ID</label>
          <input type="text" id="idProductoM" class="form-control clear idProductoM" onchange="updateListaMerma();document.getElementById('piezasM').focus();" placeholder="" onload="">
        </div>
        <div class="col-md-3 impre form-group">
          <label class="">Descripción</label>
          <input type="text" class="form-control clear descripcionM" style="color:green;" onchange="updateListaVentaMedidaMerma(); " disabled placeholder="">
        </div>
        
        <div class="col-md-3 impre form-group piezasventas">
          <label class="">PIEZAS</label>
          <input type="text" id="piezasM" class="form-control clear piezasM" onchange="cambioMerma(); " placeholder="">
        </div>
       <div class="col-md-3 form-group pesosM">
          
        </div>
<div class="col-xs-3 impre col-md-3">
      <button type="button" id="addM" class="btn btn-ventas insertar " onclick="addMerma(); document.getElementById('idProductoM').focus();">INSERTAR</button>
  </div>
   <div class="col-xs-3 impre col-md-3">
    <button type="button" class="btn btn-ventas btn-ventas limpiar" onclick="limpiar(); v();">LIMPIAR</button>
  </div>
  <div class="col-xs-3 impre col-md-3">
  <div class="upventa"></div>
    
  </div>
   <div class="col-xs-3 impre col-md-3">
    <div class="delventa"></div>
  </div>
   
  <br class="impre"><br class="impre">
  <br class="impre">
 
  </div>
                

  
  
  
<br>

<br>

 <div class="table-responsive tabla text-center impre">
  <table class="impre table table-active table-hover table-bordered table-inverse  text-center">
    <thead class="text-center impre ">


      <tr class="letras text-center impre">
        <p><th class="letras">DÍA</th></p>
        <th class="letras">CÓDIGO</th>
        <th class="letras">DESCRIPCIÓN</th>
        <th class="letras">PIEZAS</th>
        <th class="letras">PESO</th>
        <th class="letras">PRECIO UNITARIO</th>
        <th class="letras">VALOR MERCANCÍA</th>      
      </tr>
    </thead>
    <tbody class="contCataMerma ventascss impre" >
     
    </tbody>
     
  </table>
  <div class="row col-md-12 text-right letras"><h3 id="totalMerma" class="text-right">$ 0.00</h3></div>
</div>



              

                
              </div>
              <br>
      


            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-modals" onclick="closeModalMerma();">Cerrar</button>
               
            </div>
          </div>
        </div>
      </div>

  <div class= "modal fade" tabindex ="-1" role="dialog" id="modalRecarga">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
             <h2 class="modal-title">RECARGA</h2>
             <div class=""></div>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
              </button>
             
            </div>
            <div class="modal-body textModal">
             
              <div class="row col-md-12 ">
                 <div class="row">
        <div class="col-md-3 impre form-group">
          <label class="" >ID</label>
          <input type="text" id="idProducto2" class="form-control clear idProducto" onchange="updateListaRecarga();document.getElementById('piezas2').focus();" placeholder="#" onload="">
        </div>
        <div class="col-md-3 impre form-group">
          <label class="">Descripción</label>
          <input type="text" class="form-control clear descripcion" style="color:green;" onchange="updateListaVentaMedida(); " disabled placeholder="Descripción">
        </div>
        
        <div class="col-md-3 impre form-group piezasventas">
          <label class="">Piezas</label>
          <input type="text" id="piezas2" class="form-control clear piezas" onchange="cambio(); " placeholder="#">
        </div>
       <div class="col-md-3 form-group pesos">
          
        </div>
<div class="col-xs-3 impre col-md-3">
      <button type="button" id="add" class="btn btn-ventas insertar add" onclick="addRecarga(); document.getElementById('idProducto2').focus();">INSERTAR</button>
  </div>
   <div class="col-xs-3 impre col-md-3">
    <button type="button" class="btn btn-ventas btn-ventas limpiar" onclick="limpiar(); v();">LIMPIAR</button>
  </div>
  <div class="col-xs-3 impre col-md-3">
  <div class="upventa"></div>
    
  </div>
   <div class="col-xs-3 impre col-md-3">
    <div class="delventa"></div>
  </div>

 
  </div>
                


            
              </div>
     


            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-modals" onclick="closeModalRecarga();">CERRAR</button>
               
            </div>
          </div>
        </div>
      </div>


  <div class= "modal fade" tabindex ="-1" role="dialog" id="modalNotas">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
             <h2 class="modal-title">NOTAS</h2>
             <div class="nombreempleado"></div>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
              </button>
             
            </div>
            <div class="modal-body textModal">
             
              <div class="row col-md-12 ">
                
                <div class=" col-md-12 form-group">
    <label >DESCRIPCIÓN</label>
    <input type="text" id="nota" onchange="document.getElementById('add').focus();" class="form-control  clear descripcion" placeholder="">
  </div>

  <div class="col-sm-3 col-md-3">
      <button type="button" id="add" class="btn usuario1" onclick="addNota()" >INSERTAR</button>
  </div>
   <div class="col-sm-3 col-md-3">
    <button type="button" class="btn usuario1 limpiar" onclick="limpiar()">LIMPIAR</button>
  </div>
  <div class="col-sm-3 col-md-3 guardarN">
  </div>
   <div class="col-sm-3 col-md-3 eliminarN">
    
  </div >

<br>

<br>

  <div class="table-responsive tabla ">
  <table class="table table-hover col-md-12 table-condensed text-center">
    <thead class="text-center">
      <tr class="letras text-center">
        <th class="text-center">NO. NOTA</th>
        <th class="text-center">DESCRIPCIÓN</th>
      </tr>
    </thead>
    <tbody class="contCata3 ventascss" >
     
    </tbody>
  </table>
</div>


              

                
              </div>
              <br>
      


            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-modals" onclick="closeModalNota(); click_empleados(); ">Cerrar</button>
               
            </div>
          </div>
        </div>
      </div>


<div class= "modal fade" tabindex ="-1" role="dialog" id="modalCliente">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
             <h2 class="modal-title modaltitulo">CLIENTE</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
              </button>
             
            </div>
            <div class="modal-body textModal">
             
              <div class="row ">
                 
        <div class="col-md-6 form-group">
          <label class="">NOMBRE DEL LOCAL</label>
          <input type="text"  onkeyup="mayus(this);"  onchange="mapa.getCoords(); document.getElementById('propietarioC').focus();" class="form-control clear local" placeholder="">
        </div>
        <div class="col-md-6 form-group">
          <label class="">PROPIETARIO (NOMBRE COMPLETO)</label>
          <input type="text" onkeyup="mayus(this);"  id="propietarioC" onchange="mapa.getCoords(); document.getElementById('creditoAC').focus();" class="form-control clear propietario" placeholder="">
        </div>
        
        <div class="col-md-3 form-group">
          <label class="">CRÉDITO AUTORIZADO </label>
          <input type="number" pattern="[0-9]{10}" id="creditoAC" onchange="mapa.getCoords(); document.getElementById('bonificacionAC').focus();" class="form-control clear credito" placeholder="">
        </div>
        <div class="col-md-4 form-group">
          <label class="">BONIFICACIÓN AUTORIZADA</label>
          <input type="number" pattern="[0-9]{10}" id="bonificacionAC" onchange="mapa.getCoords(); document.getElementById('correoC').focus();" class="form-control clear bonificacion" placeholder="">
        </div>
        <div class="col-md-5 form-group licencia">
          <label class="">CORREO</label><input id="correoC" onchange="mapa.getCoords(); document.getElementById('search').focus();" type="text" class="form-control clear email" placeholder="">
        </div>
        <div class="col-md-12 form-group">
          <label class="">DOMICILIO</label>
          <input id="search" onkeyup="mayus(this);"  type="text" class="form-control clear direccion" onchange="mapa.getCoords(); document.getElementById('fechaCliente').focus();" placeholder="">
        </div>
        <div class=" col-md-4 form-group">
             <label class="">LNG. (OPCIONAL)</label>
             <input type="text" class="form-control clear lng" placeholder="Lng">
          </div>
        <div class="col-md-4 form-group exp">
          <label class="">LAT. (OPCIONAL)</label><input  type="text" class="form-control clear lat" placeholder="Lat">
        </div>
        <div class="col-md-4 form-group exp">
          <label class="">FECHA</label><input id="fechaCliente" type="date" class="form-control clear fecha" onchange="mapa.getCoords(); document.getElementById('telPC').focus();" placeholder="">
        </div>
         <div class="col-md-4 form-group licencia">
          <label class="">TELÉFONO PERSONAL</label><input id="telPC" onchange="mapa.getCoords(); document.getElementById('telLC').focus();" type="phone" class="form-control clear telefonop" placeholder="" >
        </div>
        <div class="col-md-4 form-group licencia">
          <label class="">TELÉFONO LOCAL</label><input id="telLC" onchange="mapa.getCoords(); document.getElementById('descripcionC').focus();"  type="phone" class="form-control clear telefono" placeholder="" >
        </div>
        <div class="col-md-4 form-group ruta1">
          <label class="">RUTA ASIGNADA</label><input id="rutaAC" type="text" class="form-control  ruta" disabled placeholder="" >
        </div>
        <div class="col-md-12 form-group licencia">
          <label class="">DESCRIPCIÓN Y/O COMENTARIO </label><input id="descripcionC" onkeyup="mayus(this);"  onchange="mapa.getCoords(); document.getElementById('addC').focus();" type="text" class="form-control clear descripcion" placeholder="" >
        </div>

              

                
              </div>
              <br>
      


            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" onclick="closeCliente()">CANCELAR</button>
               <div class="addCliente1"><button id="addC" type="button" class="btn btn-success " id="agregarp" onclick="addCliente()">GUARDAR</button></div>
               
            </div>
          </div>
        </div>
      </div>




<div class= "modal fade" tabindex ="-1" role="dialog" id="modalVendedor">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
             <h2 class="modal-title modaltitulo">VENDEDOR</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
              </button>
             
            </div>
            <div class="modal-body textModal">
             
              <div class="row ">
               <div class="col-md-4 form-group exp">
          <label class="">Estado</label>
          <select class="form-control estado">
            <option style="background: green; color: white;" value="1">Activo</option>
            <option style="background: red; color: white;" value="2">Inactivo</option>
            
            </select>
          
        </div>
        <div class="col-md-4 form-group">
          <label class="">ID</label>
          <input type="number" class="form-control clear idVendedor" placeholder="">
        </div>    
        <div class="col-md-4 form-group">
          <label class="">Nombre</label>
          <input type="text" class="form-control clear nombre" placeholder="Nombre">
        </div>
        <div class="col-md-4 form-group">
          <label class="">Apellido Paterno</label>
          <input type="text" class="form-control clear a_paterno" placeholder="Apellido Paterno">
        </div>
        <div class="col-md-4 form-group">
          <label class="">Apellido Materno</label>
          <input type="text" class="form-control clear a_materno" placeholder="Apellido Materno">
        </div>
        <div class="col-md-4 form-group">
          <label class="">Fecha de nacimiento</label>
          <input type="date" class="form-control clear fnacimiento" placeholder="">
        </div>
        <div class="col-md-4 form-group">
          <label class="">N. Seguro Social</label>
          <input type="text" class="form-control clear n_seguro" placeholder="Seguro Social">
        </div>
        <div class="col-md-4 form-group">
          <label class="">Curp</label>
          <input type="text" class="form-control clear curp" placeholder="Curp">
        </div>
        <div class="col-md-4 form-group">
          <label class="">Domicilio</label>
          <input type="text" class="form-control clear domicilio" placeholder="Domicilio">
        </div>
        <div class=" col-md-4 form-group">
             <label class="">RFC</label>
             <input type="text" class="form-control clear rfc" placeholder="RFC">
          </div>
        <div class="col-md-4 form-group exp">
          <label class="">Tipo de contrato</label>
          <select class="form-control tipocontrato">
            <option value="1">Capacitación inicial</option>
            <option value="2">Determinado</option>
            <option value="3">Indeterminado o planta</option>
            
            </select>
          
        </div>
        <div class="col-md-4 form-group exp">
          <label class="">Inicio del contrato</label><input type="date" class="form-control clear iniciocontrato" placeholder="Expiración">
        </div>
        <div class="col-md-4 form-group exp">
          <label class="">Fin del contrato</label><input type="date" class="form-control clear fincontrato" placeholder="Expiración">
        </div>
        <div class="col-md-4 form-group">
          <label class="">Tipo de Empleado</label>
          <select class="form-control tipoempleado" disabled  onchange="tipoempleado(value)">
            
            <option value="4">Vendedor</option>
            
            </select>
        </div>

        <div class="col-md-4 form-group licencia">
          <label class="">N. Licencia</label><input type="text" class="form-control clear n_licencia" placeholder="Licencia">
        </div>
            
        <div class="col-md-4 form-group exp">
          <label class="">Fecha de Expiración</label><input type="date" class="form-control clear f_licencia" placeholder="Expiración">
        </div>
        <div class="col-md-4 form-group ">
          <label class="">Ruta</label>
          <div class="noruta"></div>
        </div>
        <div class="col-md-4 form-group tipovende">
          <label class="">Tipo de Venta</label><select class="form-control clear tipoventa" ><option value="1">Detalle</option><option value="2">Mayoreo</option><option value="3">Detalle Foráneo</option><option value="4">Restaurantes</option></select>
        </div>
         <div class="col-md-4 form-group licencia">
          <label class="">Limite de crédito</label><input type="text" class="form-control clear credito" placeholder="Crédito">
        </div>
         <div class="col-md-4 form-group licencia">
          <label class="">Limite de bonificación</label><input type="text" class="form-control clear bonificacion" placeholder="Bonificación">
        </div>
         <div class="col-md-4 form-group licencia">
          <label class="">Limite de Merma</label><input type="text" class="form-control clear merma" placeholder="Merma">
        </div>
        <div class="col-md-4 form-group f_ahorro">
          <label class="">FONDO DE AHORRO</label><input type="number" class="form-control clear f_Ahorro" placeholder="" >
        </div>
         <div class="col-md-4 form-group licencia">
          <label class="">Teléfono Personal</label><input type="phone" class="form-control clear telp" placeholder="" >
        </div>
        <div class="col-md-4 form-group licencia">
          <label class="">Teléfono Local</label><input type="phone" class="form-control clear tell" placeholder="" >
        </div>
        <div class="col-md-4 form-group licencia">
          <label class="">Fecha de Ingreso</label><input type="date" class="form-control clear ingreso" placeholder="" >
        </div>
        <div class="col-md-4 form-group licencia">
          <label class="">Vacaciones</label><input type="date" class="form-control clear vacaciones" placeholder="" >
        </div>
        <div class="col-md-4 form-group licencia">
          <label class="">Renuncia</label><input type="date" class="form-control clear renuncia" placeholder="" >
        </div>
        <div class="col-md-4 form-group licencia">
          <label class="">Reingresos</label><input type="text" class="form-control clear reingresos" placeholder="" >
        </div>
        <div class="col-md-12 form-group licencia">
          <label class="">Razón de renuncia</label><input type="text" class="form-control clear razon" placeholder="" >
          <br>
         <label class="">Papelería</label>
        </div>
        <div class="col-md-6 form-group licencia">
         

<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input solicitud clear" name="solicitud" value="1" id="solicitud"> Solicitud
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input ine2 clear" value="1" name="ine2" id="ine2" > INE
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input curp2 clear" value="1" name="curp2" id="curp2" > CURP
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input rfc2 clear" value="1" name="rfc2" id="rfc2" > RFC
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input nss clear" value="1" name="nss" id="nss" > NSS
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input acta clear" value="1" name="acta" id="acta" > Acta De Nacimiento Nuevo Formato
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input cdomicilio clear" value="1" name="cdomicilio" id="cdomicilio" > Comprobante De Domicilio
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input foto clear" value="1" name="foto" id="foto" > Foto A Color
  </label>
</div>


        </div>
        <div class="col-md-6 form-group ">
           <div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input recomendaciones clear" value="1" name="Recomendaciones" id="recomendaciones" > Dos recomendaciones Laborales
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input licenciac clear" value="1" name="licencia" id="licencia" > Licencia De Conducir
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input antecedentes clear" value="1" name="antecedentes" id="antecedentes" > Carta De No Antecedentes Penales
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input ineaval clear" value="1" name="ineaval" id="ineaval" > Copia INE Aval
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input predial clear" value="1" name="predial" id="predial" > Copia Predial Aval
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input comprobanted" value="1" name="comprobanted clear" id="comprobanted" > Comprobante De Domicilio Del Aval
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input pagare clear" active value="1" name="pagare" id="pagare" > Pagaré Firmado
  </label>
</div>
        </div>


              

                
              </div>
              <br>



            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" onclick="closeVendedor()">Cancelar</button>
               <div class="addVendedor1"><button type="button" class="btn btn-success " id="agregarp" onclick="addVendedor()">Guardar</button></div>
               
            </div>
          </div>
        </div>
      </div>


<div class= "modal fade" tabindex ="-1" role="dialog" id="modalAdministracion">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header ">
            
              <h2 class="modal-title ">ADMINISTRACIÓN</h2>
            
             
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
              </button>
             
            </div>
            <div class="modal-body textModal">
             
              <div class="row ">
                        
        <div class="col-md-4 form-group">
          <label class="">Nombre</label>
          <input type="text" class="form-control clear nombre" placeholder="Nombre">
        </div>
        <div class="col-md-4 form-group">
          <label class="">Apellido Paterno</label>
          <input type="text" class="form-control clear a_paterno" placeholder="Apellido Paterno">
        </div>
        <div class="col-md-4 form-group">
          <label class="">Apellido Materno</la55bel>
          <input type="text" class="form-control clear a_materno" placeholder="Apellido Materno">
        </div>
        <div class="col-md-4 form-group">
          <label class="">Fecha de nacimiento</label>
          <input type="date" class="form-control clear fnacimiento" placeholder="">
        </div>
        <div class="col-md-4 form-group">
          <label class="">N. Seguro Social</label>
          <input type="text" class="form-control clear n_seguro" placeholder="Seguro Social">
        </div>
        <div class="col-md-4 form-group">
          <label class="">Curp</label>
          <input type="text" class="form-control clear curp" placeholder="Curp">
        </div>
        <div class="col-md-4 form-group">
          <label class="">Domicilio</label>
          <input type="text" class="form-control clear domicilio" placeholder="Domicilio">
        </div>
        <div class=" col-md-4 form-group">
             <label class="">RFC</label>
             <input type="text" class="form-control clear rfc" placeholder="RFC">
          </div>
       <div class="col-md-4 form-group exp">
          <label class="">Tipo de contrato</label><input type="text" class="form-control clear tipocontrato" placeholder="Tipo">
        </div>
        <div class="col-md-4 form-group exp">
          <label class="">Inicio del contrato</label><input type="date" class="form-control clear iniciocontrato" placeholder="Expiración">
        </div>
        <div class="col-md-4 form-group exp">
          <label class="">Fin del contrato</label><input type="date" class="form-control clear fincontrato" placeholder="Expiración">
        </div>
        <div class="col-md-4 form-group">
          <label class="">Tipo de Empleado</label>
          <select class="form-control clear tipoempleado" onchange="">
            <option value="1">Ayudante General</option>
           
            <option value="3">Gerente de Ventas</option>
            <option value="4">Gerente de Operaciones</option>
            <option value="5">Supervisor</option>
            <option value="6">Administrador</option>
            <option value="7">Consejo</option>
            </select>
        </div>

       <div class="col-md-4 form-group licencia">
          <label class="">Teléfono Personal</label><input type="phone" class="form-control clear telp" placeholder="" >
        </div>
        <div class="col-md-4 form-group licencia">
          <label class="">Teléfono Local</label><input type="phone" class="form-control clear tell" placeholder="" >
        </div>
             <div class="col-md-4 form-group licencia">
          <label class="">Fecha de Ingreso</label><input type="date" class="form-control clear ingreso" placeholder="" >
        </div>
        <div class="col-md-4 form-group licencia">
          <label class="">Vacaciones</label><input type="date" class="form-control clear vacaciones clear" placeholder="" >
        </div>
        <div class="col-md-4 form-group licencia">
          <label class="">Renuncia</label><input type="date" class="form-control clear renuncia clear" placeholder="" >
        </div>
        <div class="col-md-4 form-group licencia">
          <label class="">Reingresos</label><input type="text" class="form-control clear reingresos clear" placeholder="" >
        </div>
        <div class="col-md-12 form-group licencia">
          <label class="">Razón de renuncia</label><input type="text" class="form-control clear razon clear" placeholder="" >
          <br>
         <label class="">Papelería</label>
        </div>
        <div class="col-md-6 form-group licencia">
         

<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input solicitud clear" name="solicitud" value="1" id="solicitud"> Solicitud
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input ine2 clear" value="1" name="ine2" id="ine2" > INE
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input curp2 clear" value="1" name="curp2" id="curp2" > CURP
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input rfc2" value="1" name="rfc2" id="rfc2 clear" > RFC
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input nss clear" value="1" name="nss" id="nss" > NSS
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input acta clear" value="1" name="acta" id="acta" > Acta De Nacimiento Nuevo Formato
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input cdomicilio clear" value="1" name="cdomicilio" id="cdomicilio" > Comprobante De Domicilio
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input foto clear" value="1" name="foto" id="foto" > Foto A Color
  </label>
</div>


        </div>
        <div class="col-md-6 form-group ">
           <div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input recomendaciones" value="1" name="Recomendaciones" id="recomendaciones clear" > Dos recomendaciones Laborales
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input licenciac clear" value="1" name="licencia" id="licencia" > Licencia De Conducir
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input antecedentes clear" value="1" name="antecedentes" id="antecedentes" > Carta De No Antecedentes Penales
  </label>
</div>

        </div>


              

              
   

                
              </div>
              <br>
      


            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" onclick="closeEmpleado()">Cancelar</button>
               <div class="addEmpleado1"><button type="button" class="btn btn-success " id="agregarp" onclick="addEmpleado()">Guardar</button></div>
               
            </div>
          </div>
        </div>
      </div>


      <div class= "modal fade" tabindex ="-1" role="dialog" id="modalControlVehicular">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header ">
            
              <h2 class="modal-title ">NUEVO VEHÍCULO </h2>
            
             
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
              </button>
             
            </div>
            <div class="modal-body textModal">
             
              <div class="row ">
 
 <div class="col-xs-3 col-md-3 form-group ">

    <label >NUMERO</label>
    <input  type="number" onchange="document.getElementById('marcaV').focus();" pattern="[0-9]{10}" class="form-control  clear numero" placeholder="">
  </div>      
 <div class="col-xs-3 col-md-3 form-group ">

    <label >MARCA</label>
    <input type="text" id="marcaV" onchange="document.getElementById('serieV').focus();" onkeyup="mayus(this);" class="form-control  clear marca" placeholder="">
  </div>
     
 
  <div class="col-xs-3 col-md-3 form-group ">
  
    <label >NO. SERIE</label>
    <input type="text" id="serieV" onchange="document.getElementById('modeloV').focus();" onkeyup="mayus(this);"  class="form-control  clear noserie" placeholder="">
  </div>
  <div class="col-xs-3 col-md-3 form-group ">
  
    <label >MODELO</label>
    <input   type="number" id="modeloV" onchange="document.getElementById('tipoV').focus();" pattern="[0-9]{10}" class="form-control  clear modelo" placeholder="">
  </div> 
  <div class="col-xs-3 col-md-3 form-group ">
  
    <label >TIPO</label>
    <input type="text" id="tipoV" onchange="document.getElementById('colorV').focus();" onkeyup="mayus(this);" class="form-control  clear tipo" placeholder="">
  </div>  
  <div class="col-xs-3 col-md-3 form-group ">
  
    <label >COLOR</label>
    <input type="text" id="colorV" onchange="document.getElementById('combustibleV').focus();" onkeyup="mayus(this);" class="form-control  clear color" placeholder="">
  </div> 
  <div class="col-xs-3 col-md-3 form-group ">
  
    <label >COMBUSTIBLE </label>
    <select id="combustibleV" onchange="document.getElementById('kmV').focus();" class="form-control clear combustible">
            <option value="1">GASOLINA - MAGNA</option>
            <option value="2">GASOLINA - PREMIUM</option>
            <option value="3">GASOLINA & GAS</option>
            <option value="4">GAS</option>
            <option value="5">DIESEL</option>
    </select>
  
  </div>  
  
  <div class="col-xs-3 col-md-3 form-group ">
    <label >KM</label>
    <input  type="number" id="kmV" onchange="document.getElementById('placasV').focus();" pattern="[0-9]{10}" class="form-control  clear kmV" placeholder="">
  </div>
<div class="col-xs-3 col-md-3 form-group ">
   <label >PLACAS</label>
    <input type="text" id="placasV" onchange="document.getElementById('aseguradoraV').focus();"  onkeyup="mayus(this);" class="form-control  clear placas" placeholder="">
  </div>
  <div class="col-xs-3 col-md-3 form-group ">
   <label >ASEGURADORA</label>
    <input type="text" id="aseguradoraV" onchange="document.getElementById('polizaV').focus();" onkeyup="mayus(this);" class="form-control  clear aseguradora" placeholder="">
  </div>
  <div class="col-xs-3 col-md-3 form-group ">
   <label >PÓLIZA</label>
    <input type="text" id="polizaV" onchange="document.getElementById('iniPolizaV').focus();" onkeyup="mayus(this);" class="form-control  clear poliza" placeholder="">
  </div>
  <div class="col-xs-3 col-md-3 form-group ">
   <label >INICIO DE PÓLIZA</label>
    <input type="date" id="iniPolizaV" onchange="document.getElementById('finPolizaV').focus();" class="form-control  clear iniciopoliza" placeholder="">
  </div>
  <div class="col-xs-3 col-md-3 form-group ">
   <label >FIN DE PÓLIZA</label>
    <input type="date" id="finPolizaV" onchange="document.getElementById('endosoV').focus();" class="form-control  clear finpoliza" placeholder="">
  </div>
  <div class="col-xs-3 col-md-3 form-group ">
   <label >ENDOSO</label>
    <input type="text" id="endosoV" onchange="document.getElementById('incisoV').focus();" onkeyup="mayus(this);" class="form-control  clear endoso" placeholder="">
  </div>
  <div class="col-xs-3 col-md-3 form-group ">
   <label >INCISO</label>
    <input type="text" id="incisoV" onchange="document.getElementById('telefonoV').focus();" onkeyup="mayus(this);" class="form-control  clear inciso" placeholder="">
  </div>
  <div class="col-xs-3 col-md-3 form-group ">
   <label >TELÉFONO</label>
    <input type="text" id="telefonoV" onchange="document.getElementById('agregarp').focus();" onkeyup="mayus(this);" class="form-control  clear tel" placeholder="">
  </div>
                
              </div>
         


            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" onclick="closeControlVehicular()">CANCELAR</button>
               <div class="addControlVehicular1"><button type="button" class="btn btn-success " id="agregarp" onclick="addVehiculo()">GUARDAR</button></div>
               
            </div>
          </div>
        </div>
      </div>
<div class= "modal fade" tabindex ="-1" role="dialog" id="modalDesp2">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
             <h2 class="modal-title">DESPACHADOR & COMBUSTIBLE</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
              </button>
             
            </div>
            <div class="modal-body textModal">
              
              <div class="row form-group ">
                <label class="despachador819"></label>
                <div class="col-md-12 despachador">  
                
                </div>
                <br>
 <div class="">

   
 </div> 
 <div class="combustible2 col-md-6"></div>
  <div class="col-md-6">
 <label for="">COMBUSTIBLES</label>
  <div class="radio">
  <label><input type="radio" name="optradio" onclick="gasolina2()"> GASOLINA</label>
</div>
<div class="radio">
  <label><input type="radio" name="optradio" onclick="gas2()"> GAS</label>
</div>
<div class="radio">
  <label><input type="radio" name="optradio" onclick="gasolinaygas()"> GASOLINA & GAS</label>
</div>
<div class="radio">
  <label><input type="radio" name="optradio" onclick="diesel2()"> DIESEL</label>
</div>
<br>
<div class="radio">
  <label><input type="radio" name="optradio" onclick="ninguno()"> DESMARCAR SELECCION</label>
</div>
 </div>             

                
              </div>
              <br>
      


            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-dark" onclick="closeModalDesp(); click_Recepcion(); ">CANCELAR</button>
               <button type="button" class="btn btn-modals " id="agregarp" onclick="ModalDesp2();">GUARDAR</button>
            </div>
          </div>
        </div>
      </div>


     <div class= "modal fade" tabindex ="-1" role="dialog" id="modalPin2">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
             <h2 class="modal-title">PIN</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
              </button>
             
            </div>
            <div class="modal-body textModal">
                <div class="row ">
                
                <div class="col-md-12 despachador">  
                
                

                </div>
              

                
              </div>
              <div class="row">
                
                <div class="col-md-4">  
                
                <input type="password" autocomplete="off" class="form-control clear pin" onchange="document.getElementById('agregarp2').focus();" placeholder="PIN">

                </div>
              

                
              </div>


            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-dark" onclick="closeModalPin2();  ">CANCELAR</button>
               <button type="button" class="btn btn-modals agregarp" id="agregarp2" onclick="agregarpin2()">AGREGAR</button>
            </div>
          </div>
        </div>
      </div>
 
    <div class= "modal fade" tabindex ="-1" role="dialog" id="modalPin3">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
             <h2 class="modal-title">PIN</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
              </button>
             
            </div>
            <div class="modal-body textModal">
                <div class="row ">
                
                <div class="col-md-12 despachador">  
                
                

                </div>
              

                
              </div>
              <div class="row">
                
                <div class="col-md-4">  
                
                <input type="password" autocomplete="off" class="form-control clear pin" onchange="document.getElementById('agregarp3').focus();" placeholder="PIN">

                </div>
              

                
              </div>


            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-dark" onclick="closeModalPin3();  ">CANCELAR</button>
               <button type="button" class="btn btn-modals agregarp" id="agregarp3" onclick="agregarpin3()">AGREGAR</button>
            </div>
          </div>
        </div>
      </div>

    <div class= "modal fade" tabindex ="-1" role="dialog" id="modalEfectivo">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
             <h4 class="modal-title">ENTRADA DE EFECTIVO</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
              </button>
             
            </div>
            <div class="modal-body textModal">
              <div class="row">
              <div class="col-md-12 today_E text-center"></div>
              <div class="col-md-12 row">
<div class="col-md-6"><input type="date" class="dateVC form-control"></div>
<div class="col-md-6"><button type="button" class="btn btn-modals totala" onclick="addDateCash()">ACTUALIZAR FECHA</button></div>
               </div>
              
                <div class="col-md-3"></div>
                <div class="col-md-6"><!-- <button class="btn btn-danger totala" onclick="modalDates()">CAMBIAR FECHA</button> --></div>
                <div class="col-md-3"></div>
                
                <div class="col-md-8"> <label for="">RUTA</label> </div>
 
                <div class="col-md-4"> <label for="">EFECTIVO</label> </div>
              
              
                
                <div class="col-md-8 selectCash">  
                
              

                </div>
               

                <div class="col-md-4">
                  <input type="number" pattern="[0-9]{10}"  class="form-control clear cash" placeholder="$" onchange="addEfectivo()">
                </div>

  <div id="opcionesAvanzadas" style="display: none" class="col-md-12"><li style="color: blue;" src="" onclick="oAvanzadasE()"><u>OPCIONES AVANZADAS.</u></li>   </div>
  <div id="oAvanzadasE" class="col-md-12 row" style="display: none">
   <div class="col-md-12 text-center">
   <label for="">IMPORTE DEL VENDEDOR</label>
      <input type="number" pattern="[0-9]{10}"  class="form-control clear  text-center iV" placeholder="$"  onchange="">
                </div>
                <div class="col-md-12 text-center">
   <label for="">FALTANTE O SOBRANTE DEL DIA</label>

      <input type="number" pattern="[0-9]{10}"  class="form-control clear  text-center fSD" placeholder="$" disable onchange="">
                </div>
                <div class="col-md-12 text-center">
   <label for="">LO QUE DEBERIA DE TRAER</label>

      <input type="number" pattern="[0-9]{10}"  class="form-control clear lDT text-center" placeholder="$" disable onchange="">
                </div>
                <div class="col-md-12 text-center">
   <label for="">FALTANTE O SOBRANTE REAL</label>

      <input type="number" pattern="[0-9]{10}"  class="form-control clear fSR text-center" placeholder="$" disable onchange="">
                </div>
                <div class="col-md-12"><li style="color: blue;" src="" onclick="mAvanzadasE()"><u>MÁS OPCIONES SOBRE LA CARGA DEL DÍA. </u></li>   </div>
                <div id="mAvanzadasE" class="col-md-12 row" style="display: none">
   <div class="col-md-12 text-center">
   <label for="">CRÉDITO LÍMITE.</label>
      <input type="number" pattern="[0-9]{10}"  class="form-control clear  text-center cL" placeholder="$"  onchange="">
                </div>
                <div class="col-md-12 text-center">
   <label for="">BONIFICACIÓN LÍMITE.</label>

      <input type="number" pattern="[0-9]{10}"  class="form-control clear  text-center bL" placeholder="$" disable onchange="">
                </div>
                
                </div>


                </div>

                <div class="col-md-12"> <br><button class="btn btn-info totala" id="addEfectivo" onclick="addEfectivo()">GUARDAR</button> </div><br>
              </div>


            </div>
            <div class="modal-footer">
<div class="table-responsive tabla text-center">
  <table class="table table-active table-hover table-bordered table-inverse  text-center">
    <thead class="text-center">
      <tr class="letras text-center">
        <th class="letras">RUTA</th>
        <th class="letras">NOMBRE</th>
        <th class="letras"><strong>EFECTIVO</strong></th>
      </tr>
    </thead>
    <tbody class="contCataModal ventascss" >
     
    </tbody>

  </table>
</div>




              
            </div>
          </div>
        </div>
      </div>
<div class= "modal fade" tabindex ="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header modalTitulo">
            <h4 class="modal-title">MENSAJE</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body textModal">
              DATOS INCORRECTOS
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-modals" onclick="closeModal()">CERRAR</button>
            </div>
          </div>
        </div>
      </div>
<div class= "modal fade" tabindex ="-1" role="dialog" id="modalCreditos">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title">INGRESAR IMPORTE ANTERIOR</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body textModal">
              <input  type="number" onchange="document.getElementById('guardarC').focus();" pattern="[0-9]{10}"  class="creditos">
            </div>
            <div class="modal-footer">
               <button type="button" id="guardarC" class="btn btn-modals" onclick="agregarCredito()">GUARDAR</button>
            </div>
          </div>
        </div>
      </div>
      <div class= "modal fade" tabindex ="-1" role="dialog" id="modalDateC">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
            <h2 class="modal-title">INGRESAR NUEVA FECHA</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body textModal">
                  <input type="date" class="dateVC form-control">
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-modals" onclick="addDateCash()">CERRAR</button>
            </div>
          </div>
        </div>
      </div>
<div class= "modal fade impre" tabindex ="-1" role="dialog" id="modalVDiaria">
        <div class=" modal-dialog modal-lg impre impre" role="document">
          <div class="modal-content modal-lg impre impre">
            <div class="modal-header impre impre">
            <h4 class="modal-title impre impre">VENTA DIARIA</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close impre impre"><span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body textModal">
            <table class="table table-active table-hover table-bordered table-inverse  text-center impre impre">
    <thead class="text-center impre">
      <tr class="letras text-center impre">
        <th class="letras">DESCRIPCIÓN</th>
        <th class="letras">LUNES</th>
        <th class="letras">MARTES</th>
        <th class="letras">MIÉRCOLES</th>
        <th class="letras">JUEVES</th>
        <th class="letras">VIERNES</th>
        <th class="letras">SÁBADO</th>
        <th class="letras">TOTAL</th>
      </tr>

    </thead>
    <tbody class="contCataModalD ventascss impre" >
     
    </tbody>

  </table>
  <div class="table-responsive">
    <table class="  table-inverse  text-center impre ">
    <thead class="text-center impre">
      <tr class="letras text-center impre">
        <th  style="width: 20% " class="letras text-center">PRODUCTO</th>
        <th style="width: 10% " colspan="2" class="letras text-center">LUNES</th>
        <th style="width: 10% " colspan="2" class="letras text-center">MARTES</th>
        <th style="width: 10% " colspan="2" class="letras text-center">MIÉRCOLES</th>
        <th style="width: 10% " colspan="2" class="letras text-center">JUEVES</th>
        <th style="width: 10% " colspan="2" class="letras text-center">VIERNES</th>
        <th style="width: 10% " colspan="2" class="letras text-center">SÁBADO</th>
        <th style="width: 20% " colspan="2" class="letras text-center">TOTAL</th>
      </tr>
      <tr style="font-size:10px;  " class="letras text-center">
        <th class=" text-center" ></th>
        <th class=" text-center" >PIEZAS</th>
        <th class=" text-center" >PESO</th>
        <th class=" text-center" >PIEZAS</th>
        <th class=" text-center" >PESO</th>
        <th class=" text-center" >PIEZAS</th>
        <th class=" text-center" >PESO</th>
        <th class=" text-center" >PIEZAS</th>
        <th class=" text-center" >PESO</th>
        <th class=" text-center" >PIEZAS</th>
        <th class=" text-center" >PESO</th>
        <th class=" text-center" >PIEZAS</th>
        <th class=" text-center" >PESO</th>
        <th class=" text-center" >PIEZAS</th>
        <th class=" text-center" >PESO</th>
      </tr>
    </thead>
    <tbody class="contCataModal ventascss impre" >
     
    </tbody>

  </table>
</div>
            </div>
            <div class="modal-footer">

               
               <button type="button" class="btn btn-modals" onclick="closeVD()">CERRAR</button>
            </div>
          </div>
        </div>
      </div>

 <div class= "modal fade" tabindex ="-1" role="dialog" id="modalInventario">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header"> 
            <h4 class="modal-title">ENTRADA DE INVENTARIO</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
              </button>
             
            </div>
            <div class="modal-body textModal">
              <div class="row">
                <div class="col-md-4"> ID </div>
                <div class="col-md-6"> 
                 <input type="number" class="form-control clear tipo" onchange="updateListaModal()" placeholder="ID">     
                 </div><br><br>
              
                <div class="col-md-4"> Descripcion </div>
                <div class="col-md-6"> 
                   <select class="form-control  clear descripcionInventario" onchange="updateListaModalMedida()">

                  </select>      
                 </div><br><br>
              
                <div class="col-md-4"> Cantidad </div>
                <div class="col-md-3">  
          <input type="number" class="form-control clear cantidad" placeholder="Cantidad">

                </div>
                <div class="col-md-3">
                  <input type="text" class="form-control clear medidaInv" disabled placeholder="Medida">
                </div>

                
              </div>


            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" onclick="closeModalInventario()">Cancelar</button>
               <button type="button" class="btn btn-success agregarInventario" onclick="agregarCantidad()">Agregar</button>
            </div>
          </div>
        </div>
      </div>

<script type="text/javascript">
  
  window.usuario = JSON.parse('<%= @usuario.as_json %>'.replace(/&quot;/g, '\"').replace(/=&gt;/g, ':').replace(/nil/g, '""'));

</script>
