<HTML>
	<HEAD>
      <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
      <link rel="stylesheet" type="text/css" href="/stylesheets/loggin.css">
      <link rel="stylesheet" type="text/css" href="/stylesheets/aplication.css">
      <script type="text/javascript" src="/javascripts/menu.js"></script>

<nav class="navbar navbar-default navbar-fixed-top menunav">
  <div class="container-fluid">
    <div class="nav-header">
        <div class="col-xs-2 col-md-2 ">
          <a href="#" class="btn btn-nav"> <h3>Salir</h3></a>
        </div>
        <div class="col-xs-8 col-md-8 text-center">
           <h3>MENÚ</h3>
        </div>
        <div class="col-xs-1 col-md-1"></div>
        <div class="col-xs-1 col-md-1 ">
          <img class="user text-center" src="/images/user2.png" alt="">
        </div>
    </div>
  </div>
</nav>
</HEAD>
	<BODY>
  <br><br><br><br>br
		<div class="container">
      <div class="row ">
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2 cuadro">
          <img class="imagenes" src="/images/ventas.png" alt="">
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2 cuadro">
          <img class="imagenes" src="/images/bitacoras.png" alt="">
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2 cuadro">
          <img class="imagenes" src="/images/clientes.png" alt="">
        </div>
      </div>  
    </div>
	</BODY>
</HTML>
